:root{
    --mainprimerycolor: #086CF9;
    --3rdsectorbgc: #ECF4FF;
    --text-black-color:#222222;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'DM Sans', sans-serif;
}
header{
    position: relative;
    width: 100%;
    height: 100vh;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
}
.nav-brend{
    font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 31px;
color: var(--text-black-color);
}
.mid ul:active{
    color: #086CF9; 
}
.mid ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mid ul li{
    list-style: none;
    margin: 0 45px;
}
.mid ul li select{
display: flex;
border:none;
outline: none;
}
.home-info{
    width: 100%;
    height: 75vh;
}
.info-text{
    position: absolute;
    z-index: 10;
text-align: center;
left: 240px;
top: 300px;
    color: white;
    width: 67.4%;
}
.info-text h1{
    font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 73px;
margin-bottom: 24px;
}
.info-text p{
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 155%;
text-align: center;
}
.info-text button{
    width: 149px;
    height: 56px;
    background: var(--mainprimerycolor);
    border-radius: 4px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;
    cursor: pointer;
}
.home-info img{
    position: absolute;
    z-index: -1;
    top: 80px;
    width: 100%;}
.home-botton{
    width: 80%;
    height: 192px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
padding: 56px 88px;
position: absolute;
left: 10%;
right: 10.97%;
top: 76.98%;
bottom: 0%;
background: #FFFFFF;
box-shadow: 0px 11px 35px rgba(0, 0, 0, 0.08);
border-radius: 4px;
}
.first{
    display: flex;
    align-self: center;
    width: 25%;
}
.first-text h3{
    font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 47px;
margin-left: 24px;
}
.first-text span{
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 155%;
color: var(--mainprimerycolor);
margin-left: 24px;
}
.second-sector{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    margin-top: 228px;
}
.left-site{
    width: 36%;
    height: auto    ;
}
.left-site h2{
    font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 62px;
color: var(--text-black-color);
margin-bottom: 24px;
}
.left-site p{
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 155%;
color: #555555;
margin-bottom: 16px;
}
.left-site span{
    font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
color: #333333;
}
.left-site button{
    width: 149px;
height: 56px;
background: var(--mainprimerycolor);
border-radius: 4px;
color: white;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
margin-top: 32px;
cursor: pointer;
}
.s-s-video{
    width: 595px;
    height: 433px;}

.how-it-work{
    width: 100%;
    height: auto;
    text-align: center;
}
.how-it-work h2{
    font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 62px;
color: var(--text-black-color);
}
.how-it-work p{
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 155%;
text-align: center;
color: #555555;
}
.how-menus{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 48px;
}
.how-clases{
    width: 17%;
}
.how-clases img{
    margin-bottom: 27px;
}
.our-all{
    width: 100%;
    height: auto;
    background-color: var(--3rdsectorbgc);
    text-align: center;
    margin-top: 128px;
}
.top{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    
    text-align: left;
}
.under{
    margin-top: 30px;
    display: flex;
    justify-content: center;

}
.course-types{
    width: 25%;
padding: 24px;
background: #fff;
border-radius: 6px;
margin-left: 24px;
}